* {
    box-sizing: border-box;
}
body {
    background-color: rgb(146 142 142 / 40%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
section {
    background-color: gray;
    /*width: 300px;  Adjusted for better layout */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 10px 8px rgba(146, 142, 142, 0.705);
}
button {
    width: 65px; /* Adjusted for a more uniform size */
    height: 50px;
    margin: 5px;
    border-radius: 8px;
    font-size: 20px;
    color: bisque;
    border: none;
    background-color: #79b1bb98;
    box-shadow: 2px 5px #4c727998;
    cursor: pointer;
}
button:hover {
    background-color: #567;
}
#screenDisplay {
    width: 100%;
    margin-bottom: 20px;
    border-radius: 8px;
    background-color: #79b1bb98;
    color: bisque;
    padding: 10px;
    box-shadow: 2px 5px #4c727998;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-around;
    font-size: 20px; /* Adjusted for better readability */
}
.calInput {
    display: grid;
    grid-template-columns: repeat(4, 65px); /* Adjusted for a grid layout */
    justify-content: center;
    gap: 5px;
}
